privateNotes.txt
__pycache__
dataFiles
sampleData
todo.txt
*.dls
server/secrets.yml
misNotas.md
.vscode/
client/dist
client/node_modules
server/data
.idea
client/package-lock.json
client/yarn.lock
server/.pgpass
data/*
server/venv*
